.red{
	color: red;
}

.spacer{
	margin-top: 20px;
}

.decaler{
	margin-right: 510px;
}

.droite{
	margin-left: 255px;
}

.btn-titre{
	margin-left: 25px;
}

.decaler-droite{
	margin-left: 600px;
}

.decaler-dr{
	margin-left: 510px;
}