<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Topos</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<br> <br>
			<h3>Liste des topos
							<a class="btn btn-primary btn-titre"
							th:href="@{/user/listeMesTopos}">Mes topos</a></h3>
			<form class="form-inline decaler-droite" th:action="@{/accueil}" method="get">
				<label>Mot Clé :</label> <input type="text" name="motCle"
					th:value="${motCle}" />
				<button class="btn btn-success">Chercher</button>
			</form>
			<br>
			<table class="table">
				<thead>
					<tr class="text-primary">
						<th>Nom</th>
						<th>Description</th>
						<th>Lieu</th>
						<th>Parution</th>
						<th>Disponibilité</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="t:${listeTopos}">
						<td th:text="${t.nom}"></td>
						<td th:text="${t.description}"></td>
						<td th:text="${t.lieu}"></td>
						<td th:text="${t.parution}"></td>
						<td th:text="${t.disponibilite}" ></td>
                                <td><a th:class="${t.disponibilite} == 'Disponible'? 'btn btn-success' : 'btn btn-danger disabled'" 
                                       th:href="@{/user/demandepret/{id}(id=${t.nom})}"
                                       th:title="${t.emprunteur == null}? 'Demander l&acute;emprunt' : 'Annuler l&acute;emprunt'"
                                       sec:authorize="hasAuthority('user')"
                                       th:if="${t.emprunteur != null}? (${#httpServletRequest.remoteUser} == ${t.emprunteur.pseudo} and ${t.disponibilite} == 'Indisponible') : true"
                                ><i class="far fa-question-circle"></i>Faire une demande</a></td>

                              
                            </tr>
					
				</tbody>
			</table>
		</div>
		<div class="container">
			<ul class="nav nav-pills">
				<li class="nav-item"
					th:class="${pageCourante}==${status.index}?'nav-link active':'nav-link'"
					th:each="pa,status:${pages}"><a class="nav-link active"
					th:href="@{/accueil(page=${status.index}, size=${size}, motCle=${motCle})}"
					th:text="${status.index}"></a></li>
			</ul>
		</div>
	</div>
</body>
</html>