<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="layout">
<head>
<meta charset="UTF-8">
<title>Topos</title>
</head>
<body>
<div layout:fragment="content">
	<div class="container-fluid">
	<br>
	<br>
	<h3>Liste des topos</h3><br>
	  <table class="table">
	  	<thead>
	  		<tr class="text-primary">
	  			<th>Nom</th><th>Description</th><th>Lieu</th><th>Parution</th><th>Disponibilité</th>
	  		</tr>
	  	</thead>
	  	<tbody>
	  		<tr th:each="t:${listeTopos}">
	  			<td th:text="${t.nom}"></td>
	  			<td th:text="${t.description}"></td>
	  			<td th:text="${t.lieu}"></td>
	  			<td th:text="${t.parution}"></td>
	  			<td th:text="${t.disponibilite}"></td>
	  			<td><a class="btn btn-primary" th:href="@{/informations(id=${t.id})}">Informations sur le site</a></td>
	  			<td><a class="btn btn-primary" th:href="@{/admin/modifier(id=${t.id})}">Modifier</a></td>
	  			<td><a class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ?')" th:href="@{/admin/supprimer(id=${t.id}, page=${pageCourante}, size=${size}, motCle=${motCle})}">Supprimer</a></td>
	  		</tr>
	  	</tbody>
	  </table>
	  	</div>
	<div class="container">
	  	<ul class="nav nav-pills">
	  		<li class="nav-item" th:class="${pageCourante}==${status.index}?'nav-link active':'nav-link'" th:each="pa,status:${pages}" >
	  			<a class="nav-link active" th:href="@{/accueil(page=${status.index}, size=${size}, motCle=${motCle})}" th:text="${status.index}"></a>
	  		</li>
	  	</ul>
	  </div>
	  </div>
</body>
</html>