<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Accueil</title>
</head>
<body class="bleu">
	<div layout:fragment="content">
		<div class="bleu">
			<header>
				<a class="btn btn-warning btn-titre spacer bord-rond"
					th:href="@{/topos}">Voir la liste des topos</a> <a
					class="btn btn-warning dr spacer titre bord-rond"
					th:if="${#httpServletRequest.remoteUser} == null"
					th:href="@{/inscription}" sec:authorize="isAnonymous()">&nbsp;
					&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;S'inscrire &nbsp; &nbsp; &nbsp;
					&nbsp;&nbsp; &nbsp;</a> <a
					class="btn btn-warning dr spacer titre bord-rond"
					th:if="${utilisateur.statut} == 'ADMIN'"
					th:href="@{/admin/utilisateurs}"> &nbsp; &nbsp; &nbsp;Voir les
					utilisateurs &nbsp; &nbsp;</a> <a
					class="btn btn-warning dr spacer titre bord-rond"
					th:if="${utilisateur.statut} != 'VISITEUR'"
					th:href="@{/user/compte}"> &nbsp; &nbsp; &nbsp; &nbsp;
					Mon compte &nbsp; &nbsp; &nbsp; &nbsp;</a>
			</header>
			<h2 class="text-center text-warning p-3 font-italic">
				<span class="font-weight-light">Bienvenue</span> <b> amis de
					l'escalade</b>
			</h2>
			<img th:src="@{/image/accueil.jpg}" class="rounded" alt="Responsive image"
				height="252" width="100%"> <br> <br> <span
				class="text-warning btn-titre font-italic font-weight-bold"><b>
					Pour plus d'information, cliquez sur le nom du site</b></span> <a
				class="btn btn-info dr rond-lege titre" th:href="@{/user/ajoutSite}">Ajouter
				un site</a> <br> <br>
		</div>
		<br>
		<div class="">
			<form class="text-warning form-inline" th:action="@{/accueil}"
				method="get">
				<label> &nbsp; Nom : &nbsp;</label> <input class="form-control-sm"
					type="text" name="nom" th:value="${nom}"> <label>&nbsp;Pays
					: &nbsp;</label> <input class="form-control-sm" type="text" name="pays"
					th:value="${pays}"> <label>&nbsp;Region : &nbsp;</label> <input
					class="form-control-sm" type="text" name="region"
					th:value="${region}"> <label>&nbsp; Secteur :
					&nbsp;</label> <input class="form-control-sm" type="number" name="sec"
					th:value="${sec}"> &nbsp; &nbsp;
				<button class="btn text-primary vert-bleu rond-lege">Chercher</button>
				&nbsp; &nbsp;
			</form>
		</div>
		<br>
		<div th:each="s:${listeSites}"
			class="container-fluid bleu col-sm-10 pt-1">
			<table class="table vert-bleu text-info spacer rond-haut">
				<tbody class="moitie">
					<tr>
						<th>Nom :&nbsp; &nbsp; &nbsp;<a
							th:href="@{/siteDetail/{id}(id=${s.id})}"> [[${s.nom}]]</a></th>
					</tr>
					<tr>
						<th>Lieu : &nbsp; &nbsp; &nbsp; [[${s.pays}]]</th>
					</tr>
					<tr>
						<th>Secteurs : &nbsp; &nbsp; &nbsp; [[${s.nombreSecteur}]]</th>
					<tr>
						<th>Tag : &nbsp; &nbsp; &nbsp; <span
							th:text="${s.tag} == TRUE? 'Officiel les amis de l escalade' : 'Non officiel'"></span></th>
						<th></th>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="container-fluid bleu">
			<ul class="nav nav-pills">
				<li class="nav-item"
					th:class="${pageCourante}==${status.index}?'nav-link active':'nav-link'"
					th:each="pa,status:${pages}"><a class="nav-link active"
					th:href="@{/accueil(page=${status.index}, size=${size}, motCle=${motCle})}"
					th:text="${status.index}"></a></li>
			</ul>
		</div>
	</div>
</body>
</html>