<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="UTF-8">
<title>Ajout</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
	<div layout:fragment="content">
		<div class="col-8 spacer">
			<div class="card-fluid">
				<div class="card-header">Saisie d'un commentaire</div>
				<div class="card-body" >
					<form th:action="@{/user/enregistrerCom}" method="post">
					<div class="form-group">
						<div class="form-group">
							<label class="col-form-label">Auteur : </label> <input
								class="form-control-xs decaler" type="hidden" name="auteur"
								th:value="${#httpServletRequest.remoteUser}"> [[${#httpServletRequest.remoteUser}]] <span class="red"
								th:errors="${commentaire.auteur}">[[${#httpServletRequest.remoteUser}]]</span>
						</div>
							<label class="col-form-label">Site : </label> <input
								class="form-control" type="hidden" name="site" th:value="${commentaire.site}">[[${commentaire.site}]]
							<!-- <input class="form-control-xs decaler" type="text" name="site"
								th:value="${commentaire.site}" placeholder="Le nom du site"> -->
								<span class="red" th:errors="${commentaire.site}" th:inline="text"></span>
						</div>
						<div class="form-group">
							<label class="col-form-label">Commentaire : </label> 
							<textarea class="decaler" rows="5" cols="25" th:field="${commentaire.comment}" placeholder="Votre Commentaire"></textarea>
							<!-- <input class="form-control-xs p-3" type="text" name="comment" placeholder="Votre Commentaire"
								th:value="${commentaire.comment}"> -->
								<span class="red" th:errors="${commentaire.comment}" th:inline="text"></span>
						</div>
						<div class="form-group">
							<label class="col-form-label">Date : </label> <input
								class="form-control-xs decaler" type="hidden" name="date"
								th:value="${#temporals.format(localDate, 'yyyy-MM-dd HH:mm:ss')}">[[${#temporals.format(localDate, 'yyyy-MM-dd HH:mm:ss')}]] <span class="red"
								th:errors="${commentaire.date}"></span>
						</div>
						<div>
							<button type="submit" class="btn btn-primary">Enregistrer</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>