<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="UTF-8">
<title>Ajout</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
	<div layout:fragment="content">
		<div class="col-8 spacer">
			<div class="card-fluid">
				<div class="card-header">Saisie d'un commentaire</div>
				<div class="card-body">
					<form th:action="@{/user/enregistrerCom/{id}(id=${site.id})}"
						method="post">
						<div class="form-group">
							<div class="form-group">
								<label class="col-form-label">Auteur : </label> <input
									class="form-control-xs decaler" type="hidden" name="auteur"
									th:value="${utilisateur.id}">
								[[${#httpServletRequest.remoteUser}]] <span class="red"
									th:errors="${utilisateur.id}">[[${#httpServletRequest.remoteUser}]]</span>
							</div>
							<label class="col-form-label">Site : </label> <input
								class="form-control" type="hidden" name="site"
								th:value="${site.id}">[[${site.nom}]] <span class="red"
								th:errors="${site.id}" th:inline="text"></span>
						</div>
						<div class="form-group">
							<label class="col-form-label">Commentaire : </label>
							<textarea class="decaler" rows="5" cols="25"
								th:field="${commentaire.comment}"
								placeholder="Votre Commentaire"></textarea>
							<span class="red" th:errors="${commentaire.comment}"
								th:inline="text"></span>
						</div>
						<div class="form-group">
							<label class="col-form-label">Date : </label> <input
								class="form-control-xs decaler" type="hidden" name="date"
								th:value="${#temporals.format(localDate, 'yyyy-MM-dd HH:mm:ss')}">[[${#temporals.format(localDate,
							'yyyy-MM-dd HH:mm:ss')}]] <span class="red"
								th:errors="${commentaire.date}"></span>
						</div>
						<div class="form-group">
							<input class="form-control-xs decaler" type="hidden"
								name="dateModif"
								th:value="${#temporals.format(localDate, 'yyyy-MM-dd HH:mm:ss')}">
							<span class="red" th:errors="${commentaire.dateModif}"></span>
						</div>
						<div class="form-group">
							<input class="form-control-xs decaler" type="hidden"
								name="utilisateurModif" th:value="${utilisateur.id}"> <span
								class="red" th:errors="${utilisateur.id}"></span>
						</div>
						<div>
							<button type="submit" class="btn btn-info rond-lege">Enregistrer</button>
							<a class="btn btn-titre btn-danger rond-lege"
								th:href="@{/siteDetail/{id}(id=${commentaire.site})}">Annuler</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>