<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="UTF-8">
<title>Commentaire</title>
</head>
<body>

	<div layout:fragment="content">
		<div class="container-fluid">

			<br> <br>
			<h3>
				Liste des commentaires <a class="btn btn-success btn-titre"
					th:href="@{/user/ajoutCom}">Ajouter un commentaire</a>
			</h3>
			<br> <br>
			<table class="table">
				<thead>
					<tr class="text-primary">
						<th>Site</th>
						<th>Commentaire</th>
						<th>Auteur</th>
						<th>Date</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="c:${liste}">
						<td th:text="${c.site}"></td>
						<td th:text="${c.comment}"></td>
						<td th:text="${c.auteur}"></td>
						<td th:text="${c.date}"></td>
						<td><a class="btn btn-primary"
							th:href="@{/admin/modifierCom(id=${c.id})}">Modifier</a></td>
						<td><a class="btn btn-danger"
							onclick="return confirm('Êtes-vous sûr de vouloir supprimer ?')"
							th:href="@{/admin/supprimerCom(id=${c.id})}">Supprimer</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="container">
			<ul class="nav nav-pills">
				<li class="nav-item"
					th:class="${pageCourante}==${status.index}?'nav-link active':'nav-link'"
					th:each="pa,status:${pages}"><a class="nav-link active"
					th:href="@{/commentaire(page=${status.index}, size=${size}, motCle=${motCle})}"
					th:text="${status.index}"></a></li>
			</ul>
		</div>
	</div>

</body>
</html>