<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Confirmation</title>
	<link rel="stylesheet" type="text/css"  href="/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
	<br>
	<div class="container">
		<div class="card">
			<div class="card-header">Confirmation</div>
			<div class="card-body">
				<div class="form-group">
					<label>Auteur : </label>
					<label th:text="${#httpServletRequest.remoteUser}"></label>
				</div>
				<div th:if="${secteur.dateCreation == null}"
					 class="form-group">
					<label>Date : </label>
					<label th:text="${secteur.dateCreation}"></label>
				</div>
				<div th:if="${secteur.dateModif != null}"
					 class="form-group">
					<label>Date de modification : </label>
					<label th:text="${secteur.dateModif}"></label>
				</div>
				<div class="form-group">
					<label>Site : </label>
					<label th:text="${secteur.site}"></label>
				</div>
				<div class="form-group">
					<label>Nom : </label>
					<label th:text="${secteur.nom}"></label>
				</div>
				<div class="form-group">
					<label>Nombre de voie : </label>
					<label th:text="${secteur.nombreVoie}"></label>
				</div>
				<div class="form-group">
					<a class="btn btn-info btn-titre rond-lege" th:href="@{/secteur/{id}(id=${secteur.site})}">Retour à la liste</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>