<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Confirmation</title>
	<link rel="stylesheet" type="text/css"  href="/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
	<br>
	<div class="container">
		<div class="card">
			<div class="card-header">Confirmation Commentaire</div>
			<div class="card-body">
			<div class="form-group">
					<label>Site : </label>
					<label th:text="${commentaire.site}"></label>
				</div>
			<div class="form-group">
					<label>Auteur : </label>
					<label th:text="${commentaire.auteur}"></label>
				</div>
				<div class="form-group">
					<label>Commentaire : </label>
					<label th:text="${commentaire.comment}"></label>
				</div>
				<div class="form-group">
					<label>Date : </label>
					<label th:text="${commentaire.date}"></label>
				</div>
				<div class="form-group">
					<a class="btn btn-primary droite" th:href="@{/siteDetail/{id}(id=${commentaire.site})}">Retour aux commentaires</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>