<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Confirmation</title>
	<link rel="stylesheet" type="text/css"  href="/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
	<br>
	<div class="container">
		<div class="card">
			<div class="card-header">Confirmation</div>
			<div class="card-body">
				<div class="form-group">
					<label>Auteur : </label>
					<label th:text="${#httpServletRequest.remoteUser}"></label>
				</div>
				<div class="form-group">
					<label>Date : </label>
					<label th:text="${voie.dateModif}"></label>
				</div>
				<div class="form-group">
					<label>Nom du secteur : </label>
					<label th:text="${secteur.nom}"></label>
				</div>
				<div class="form-group">
					<label>Numéro de voie : </label>
					<label th:text="${voie.numeroVoie}"></label>
				</div>
				<div class="form-group">
					<label>Nombre de longueur : </label>
					<label th:text="${voie.nombreLongueur}"></label>
				</div>
				<div class="form-group">
					<label>Cotation : </label>
					<label th:text="${voie.cotation}"></label>
				</div>
				<div class="form-group">
					<a class="btn btn-info rond-lege droite" th:href="@{/voie/{site}/{secteur}(site=${site.id}, secteur=${secteur.id})}">Retour à la liste</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>