<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Confirmation</title>
	<link rel="stylesheet" type="text/css"  href="/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
	<br>
	<div class="container">
		<div class="card">
			<div class="card-header">Confirmation</div>
			<div class="card-body">
				<div class="form-group">
					<label>Utilisateur : </label>
					<label>[[${#httpServletRequest.remoteUser}]]</label>
				</div>
				<div th:if="${site.dateModif == null}"
					 class="form-group">
					<label>Date de création : </label>
					<label th:text="${site.dateCreation}"></label>
				</div>
				<div th:if="${site.dateModif != null}" 
					 class="form-group">
					<label>Date de modification : </label>
					<label th:text="${site.dateModif}"></label>
				</div>
				<div class="form-group">
					<label>Nom : </label>
					<label th:text="${site.nom}"></label>
				</div>
				<div class="form-group">
					<label>Pays : </label>
					<label th:text="${site.pays}"></label>
				</div>
				<div class="form-group">
					<label>Region : </label>
					<label th:text="${site.region}"></label>
				</div>
				<div class="form-group">
					<label>Ville : </label>
					<label th:text="${site.ville}"></label>
				</div>
				<div class="form-group">
					<label>Nombre de secteur : </label>
					<label th:text="${site.nombreSecteur}"></label>
				</div>
				<div class="form-group">
					<a class="btn btn-primary droite" th:href="@{/site}">Retour à la liste</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>