<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Veuillez vous connecter</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
	<div class="col-12 spacer">
		<div class="card">
			<h2 class="card-header bg-primary text-center text-light">Veuillez-vous
				connecter</h2>
			<div class="card-body ">
				<form action="/login" method="post">
					<div class="form-group">
						<label>Identifiant</label> <input type="text" class="form-control"
							name="username" placeholder="Entrez votre identifiant">
					</div>
					<div class="form-group">
						<label>Mot de passe</label> <input type="password"
							class="form-control" name="password" placeholder="Mot de passe">

						<small class="form-text text-muted">Vos données sont
							sécurisées.</small>
					</div>
					<button class="btn btn-info rond-lege" type="submit">&nbsp;
						Se connecter &nbsp; &nbsp;</button>
					<a class="btn btn-danger btn-titre rond-lege" th:href="@{/accueil}">Retourner
						à l'accueil</a> <a class="btn dr btn-info btn-titre rond-lege"
						th:href="@{/inscription}">S'inscrire</a> <small
						class="form-text text-muted dr pt-3">Pas de compte ?</small>
				</form>
			</div>
		</div>
	</div>
</body>
</html>