<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head></head>

<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<h3 sec:authorize="isAuthenticated()" class="my-3 p-3">
				Mes demandes<a class="btn btn-info btn-titre rond-lege"
					th:href="@{/topos}">Retourner sur la liste des topos</a>
			</h3>

			<div class="container-fluid">
				<div class="row">
					<div class="table-responsive-md">
						<table class="table">
							<thead>
								<tr class="text-primary">
									<th scope="col">Topo</th>
									<th scope="col">Parution</th>
									<th scope="col">Région</th>
									<th scope="col">Propriétaire</th>
									<th scope="col">Réponse</th>
									<th scope="col">Contact</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="topo : ${topos}"
									th:if=" (${#httpServletRequest.remoteUser} != ${topo.proprietaire} )">
									<td th:text="${topo.nom}"></td>
									<td th:text="${topo.parution}"></td>
									<td th:text="${topo.lieu}"></td>
									<td th:text="${topo.proprietaire}"></td>
									<!-- <td th:text="${topo.disponibilite}"
												th:class="${topo.disponibilite} == 'Disponible'? 'text-success' : 'text-danger'"></td> -->
									<th:block th:switch="${topo.disponibilite}">
										<td th:case="Demande"
											th:utext="'Attente de la réponse du propriétaire'"></td>
										<td th:case="Indisponible" th:utext="'Acceptée'"></td>
										<td th:case="Disponible" th:utext="'Refusée'"></td>
									</th:block>
									<th:block th:switch="${topo.disponibilite}">
										<td th:case="Indisponible" th:utext="${utilisateur.email}"></td>
										<td th:case="Disponible" th:utext="'N/C'"></td>
										<td th:case="Demande" th:utext="'N/C'"></td>
									</th:block>
								</tr>
							</tbody>
						</table>
						<div class="container">
							<ul class="nav nav-pills">
								<li class="nav-item"
									th:class="${pageCourante}==${status.index}?'nav-link btn-info':'nav-link'"
									th:each="pa,status:${pages}"><a class="nav-link btn-info"
									th:href="@{/user/listeMesDemandes(page=${status.index}, size=${size})}"
									th:text="${status.index}"></a></li>
							</ul>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</body>
</html>