<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Déconnexion</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
	crossorigin="anonymous">
<link
	href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css"
	rel="stylesheet" crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
	<div class="container">
		<form class="form-signin" method="post" action="/accueil">
			<h2 class="form-signin-heading">Êtes-vous sûr de vouloir vous
				déconnecter?</h2>
			<input name="_csrf" type="hidden"
				value="63b9b356-c6da-4296-b148-e028b42a9be7" />
			<button class="btn btn-info " type="submit">&nbsp;Se déconnecter &nbsp; &nbsp;</button>
			<a class="btn btn-danger btn-titre" th:href="@{/accueil}">&nbsp;
				&nbsp; Annuler &nbsp; &nbsp; </a>
		</form>
	</div>
</body>
</html>