<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="UTF-8">
<title>Inscription</title>
</head>
<body>
	<div layout:fragment="content">
		<br>
		<div class="container">
			<h3>
				<strong>Formulaire d'inscription</strong>
					<span th:if="${#httpServletRequest.remoteUser != null}" class="form-group col-md-6">
						<label for="inputAddress">Administrateur</label> <input type="hidden"
							class="form-control" name="utilisateurCreateur" th:value="${u.id}"
							>[[${#httpServletRequest.remoteUser}]]<span class="red"
							th:errors="${u.id}" th:inline="text"></span>
					</span>
			</h3>
			<br> <br>
			<form th:action="@{/enregistrer}" method="post">
				<div class="form-row">
					<div class="form-group col-md-6">
						<label>Nom <span class="text-danger">*</span></label> <input type="text"
							class="form-control" name="nom" th:value="${utilisateur.nom}"
							placeholder="Dupont" required><span class="red"
							th:errors="${utilisateur.nom}" th:inline="text"></span>
					</div>
					<div class="form-group col-md-6">
						<label>Prénom <span class="text-danger">*</span></label> <input type="text"
							class="form-control" name="prenom"
							th:value="${utilisateur.prenom}" placeholder="Jean" required><span
							class="red" th:errors="${utilisateur.prenom}" th:inline="text"></span>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label>Pseudo <span class="text-danger">*</span></label> <input type="text"
							class="form-control" name="pseudo"
							th:value="${utilisateur.pseudo}" placeholder="Pseudo" required><span
							class="red" th:errors="${utilisateur.pseudo}" th:inline="text"></span>
					</div>
					<div class="form-group col-md-6">
						<label>Mot de passe <span class="text-danger">*</span></label> <input
							type="password" class="form-control" id="inputPassword4"
							placeholder="Mot de passe" name="password"
							th:value="${utilisateur.password}" required><span class="red"
							th:errors="${utilisateur.password}" th:inline="text"></span>
					</div>
					<div class="form-group col-md-6">
						<label>Email <span class="text-danger">*</span></label> <input type="email"
							class="form-control" name="email" th:value="${utilisateur.email}"
							placeholder="dupont@exemple.com" required><span class="red"
							th:errors="${utilisateur.email}" th:inline="text"></span>
					</div>
					<div th:if="${#httpServletRequest.remoteUser} == null" 
						 class="form-group col-md-6">
						<label></label> <input type="hidden"
							class="form-control" id="statut" name="statut"
							th:value="'USER'">
					</div>
					<div class="form-group col-md-6">
						<label>Téléphone</label> <input type="text"
							class="form-control" name="telephone"
							th:value="${utilisateur.telephone}" placeholder="Téléphone"><span
							class="red" th:errors="${utilisateur.telephone}" th:inline="text"></span>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-4">
						<label>Date</label> <input type="hidden"
							class="form-control" name="dateCreation"
							th:value="${#temporals.format(localDate, 'yyyy-MM-dd HH:mm:ss')}"><br>[[${#temporals.format(localDate,
						'yyyy-MM-dd HH:mm:ss')}]]
					</div>
					<div class="form-group col-md-4">
						<label></label> <input type="hidden"
							class="form-control" name="dateModif"
							th:value="${#temporals.format(localDate, 'yyyy-MM-dd HH:mm:ss')}"><br>
					</div>
					<div class="form-group col-md-2">
						<label></label> <input type="hidden" class="form-control"
							name="compteActif" th:value="TRUE">
					</div>
					<div th:if="${#httpServletRequest.remoteUser} != null"
						 class="form-group col-md-2">
						<label></label> <input type="hidden" class="form-control"
							name="statut" th:value="MEMBRE">
					</div>
					<span th:if="${#httpServletRequest.remoteUser != null}" class="form-group col-md-6">
						<label>Administrateur</label> <input type="hidden"
							class="form-control" name="utilisateurCreateur" th:value="${u.id}"
							>[[${#httpServletRequest.remoteUser}]]<span class="red"
							th:errors="${u.id}" th:inline="text"></span>
					</span>
					<span th:if="${#httpServletRequest.remoteUser != null}">
						 <input type="hidden"
							 name="utilisateurModif" th:value="${u.id}"
							><span class="red"
							th:errors="${u.id}" th:inline="text"></span>
					</span>
					<span th:if="${#httpServletRequest.remoteUser == null}">
						 <input type="hidden"
							 name="utilisateurCreateur" th:value="${utilisateur.id}"
							><span class="red"
							th:errors="${utilisateur.id}" th:inline="text"></span>
					</span>
					<span class="text-danger form-control border-white">* Champs obligatoire</span>
					<span th:if="${#httpServletRequest.remoteUser == null}">
						 <input type="hidden"
							class="form-control" name="utilisateurModif" th:value="${utilisateur.id}"
							><span class="red"
							th:errors="${utilisateur.id}" th:inline="text"></span>
					</span>
				</div>
				<br>
				<button type="submit" class="btn btn-info rond-lege">Valider</button>
				<a  th:if="${#httpServletRequest.remoteUser} != null"
					class="btn btn-danger rond-lege btn-titre" th:href="@{/admin/utilisateurs}">Annuler</a>
				<a  th:if="${#httpServletRequest.remoteUser} == null"
					class="btn btn-danger rond-lege btn-titre" th:href="@{/accueil}">Annuler</a>
			</form>
		</div>
	</div>
</body>
</html>