<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>layout</title>
<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
	<div class="card-fluid">
		<nav class="navbar navbar-light bleu">
			<a class="navbar-brand text-light" th:href="@{/accueil1}">Accueil</a> <a
				th:if="${#httpServletRequest.remoteUser} != null"
				class="btn btn-info rond-lege" th:href="@{/logout}" th:inline="text">
				Se déconecter</a> <a class="btn btn-info rond-lege"
				th:if="${#httpServletRequest.remoteUser} == null"
				th:href="@{/login}" sec:authorize="isAnonymous()">S'identifier <i
				class="fas fa-user-check ml-2 "></i></a>
		</nav>
	</div>
	<section layout:fragment="content"></section>
	<br>
	<br>
	<br>
		<br>
		<br>
	<footer class="navbar-fixed-bottom fixed-bottom bleu">
		<div class="container-fluid text-light">
			<small> Les amis de l'escalade <br> <b>Copyright
					@2020</b>
			</small>
		</div>
	</footer>
</body>
</html>