<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head></head>

<body>
	<header></header>
	<div layout:fragment="content">
		<div class="container-fluid">
			<h3 sec:authorize="isAuthenticated()" class="my-3 p-3">
				Mes Topos <a class="btn btn-info btn-titre rond-lege"
					th:href="@{/topos}">Liste des topos</a> <a
					class="btn btn-info btn-titre rond-lege" th:href="@{/user/compte}">Mon
					compte</a>
			</h3>
			<div class="container-fluid">
				<div class="row">
					<div th:switch="${#lists.size(topos)}">
						<h4 th:case=0>Aucun topo !</h4>
						<div th:case="*">
							<div class="table-responsive-md">
								<table class="table">
									<thead>
										<tr class="text-primary">
											<th scope="col">Topo (<span
												th:text="${#lists.size(topos)}"></span>)
											</th>
											<th scope="col">Disponibilité</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="topo : ${topos}">
											<td th:text="${topo.nom}"></td>
											<td
												th:text="${topo.disponibilite} == 'Redisponible'? 'Disponible' : ${topo.disponibilite}"
												th:class="${topo.disponibilite} != 'Indisponible'? 'text-success' : 'text-danger'"></td>
											<td><a class="btn btn-info rond-lege"
												th:href="@{/user/topo/{id}(id=${topo.id})}">Informations</a></td>
										</tr>
									</tbody>
								</table>
								<div class="container">
									<ul class="nav nav-pills">
										<li class="nav-item"
											th:class="${pageCourante}==${status.index}?'nav-link btn-info':'nav-link'"
											th:each="pa,status:${pages}"><a
											class="nav-link btn-info"
											th:href="@{/user/listeMesTopos(page=${status.index}, size=${size}, motCle=${motCle})}"
											th:text="${status.index}"></a></li>
									</ul>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

		</div>
	</div>
</body>
</html>