<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="UTF-8">
<title>Longueurs</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<br> <br>
			<h3>
				Liste des longueurs <a class="btn btn-success btn-titre"
					th:href="@{/user/ajoutVoie}">Ajouter une Longueur</a>
			</h3>
			<br>
			<table class="table">
				<thead>
					<tr class="text-primary">
						<th>Numéro de voie</th>
						<th>Niveau</th>
						<th>Nombre de relais</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="v:${listeLongueur}">
						<td th:text="${v.numeroVoie}"></td>
						<td th:text="${v.niveau}"></td>
						<td th:text="${v.nombreRelais}"></td>
						<td><a class="btn btn-primary"
							th:href="@{/informations(id=${v.niveau})}">Informations</a></td>
						<td><a class="btn btn-primary"
							th:href="@{/user/modifierVoie(id=${v.niveau})}">Modifier</a></td>
						<td><a class="btn btn-danger"
							onclick="return confirm('Êtes-vous sûr de vouloir supprimer ?')"
							th:href="@{/admin/supprimerVoie(id=${v.niveau}, page=${pageCourante}, size=${size}, motCle=${motCle})}">Supprimer</a></td>
					</tr>
				</tbody>
			</table>
			<div>
		<!-- 	<table class="table">
				<thead>
					<tr class="text-primary">
						<th>Niveau</th>
						<th>Numéro de la voie</th>
						<th>Nombre de relais</th>
					</tr>
				</thead>
				 <tbody>
					<tr th:each="l:${listeLongueur}">
						<td th:text="${l.niveau}"></td>
						<td th:text="${l.voieNumero}"></td>
						<td th:text="${l.nombreRelais}"></td>
						<td><a class="btn btn-primary"
							th:href="@{/informations(id=${l.niveau})}">Informations</a></td>
						<td><a class="btn btn-primary"
							th:href="@{/user/modifierLongueur(id=${l.niveau})}">Modifier</a></td>
						<td><a class="btn btn-danger"
							onclick="return confirm('Êtes-vous sûr de vouloir supprimer ?')"
							th:href="@{/admin/supprimerLongueur(id=${l.niveau}, page=${pageCourante}, size=${size}, motCle=${motCle})}">Supprimer</a></td>
					</tr>
				</tbody> 
			</table> -->
			</div>
		</div>
	</div>
</body>
</html>