<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="UTF-8">
<title>Modifier un commentaire</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
	<div layout:fragment="content">
		<div class="col-8 spacer">
			<div class="card">
				<div class="card-header">Modification d'un commentaire</div>
				<div class="card-body">
					<form th:action="@{/user/enregistrerCom}" method="post">
						<div class="form-group">
							<label class="col-form-label">Site : </label> <input
								class="form-control-xs" type="hidden" name="site"
								th:value="${commentaire.site}">[[${commentaire.site}]] <span
								class="red" th:errors="${commentaire.site}"></span>
						</div>
						<div class="form-group">
							<label class="col-form-label">Commentaire : </label> <input
								class="form-control-xs" type="text" name="comment"
								th:value="${commentaire.comment}"> <span class="red"
								th:errors="${commentaire.comment}"></span>
						</div>
						<div class="form-group">
							<label class="col-form-label">Auteur : </label> <input
								class="form-control-xs" type="hidden" name="auteur"
								th:value="${#httpServletRequest.remoteUser}"> [[${#httpServletRequest.remoteUser}]] <span
								class="red" th:errors="${commentaire.auteur}"></span>
						</div>
						<div class="form-group">
							<label class="col-form-label">Date : </label> <input
								class="form-control-xs" type="hidden" name="date"
								th:value="${#temporals.format(localDate, 'yyyy-MM-dd HH:mm:ss')}"> [[${#temporals.format(localDate, 'yyyy-MM-dd HH:mm:ss')}]]
							<span class="red" th:errors="${commentaire.date}"></span>
						</div>
						<div>
							<button type="submit" class="btn btn-primary">Enregistrer</button>
							<a class="btn btn-danger btn-titre"
								th:href="@{/siteDetail/{id}(id=${commentaire.site})}">Annuler</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>