<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="layout">
<head>
<meta charset="UTF-8">
<title>Modifier voie</title>
	<link rel="stylesheet" type="text/css"  href="css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
	<div layout:fragment="content">
	<div class="col-8 spacer">
		<div class="card">
			<div class="card-header">Modification d'une voie</div>
			<div class="card-body">
				<form th:action="@{/user/enregistrerVoie}" method="post">
				<div class="form-group">
						<label class="col-form-label">Numéro de voie : </label>
						<input class="form-control-xs" type="text" name="id" th:value="${voie.id}">
						<span class="red" th:errors="${voie.id}"></span>
					</div>
				<div class="form-group">
						<label class="col-form-label">Nom du secteur : </label>
						<input class="form-control-xs" type="text" name="secteurNom" th:value="${voie.secteurNom}">
						<span class="red" th:errors="${voie.secteurNom}"></span>
					</div>
					<div class="form-group">
						<label class="col-form-label">Nombre de longueur : </label>
						<input class="form-control-xs" type="text" name="nombreLongueur" th:value="${voie.nombreLongueur}">
						<span class="red" th:errors="${voie.nombreLongueur}"></span>
					</div>
					<div class="form-group">
						<label class="col-form-label">Nombre de point : </label>
						<input class="form-control-xs" type="text" name="nombrePoint" th:value="${voie.nombrePoint}">
						<span class="red" th:errors="${voie.nombrePoint}"></span>
					</div>
					<div class="form-group">
						<label class="col-form-label">Cotation : </label>
						<input class="form-control-xs" type="text" name="cotation" th:value="${voie.cotation}">
						<span class="red" th:errors="${voie.cotation}"></span>
					</div>
					<div>
						<button type="submit" class="btn btn-primary">Enregistrer</button>
						<a class="btn btn-danger btn-titre"
							th:href="@{/voie/{id}(id=${voie.secteurNom})}">Annuler</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	</div>
</body>
</html>