<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="UTF-8">
<title>Modifier un commentaire</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
	<div layout:fragment="content">
		<div class="col-8 spacer">
			<div class="card">
				<div class="card-header">Modification d'un commentaire</div>
				<div class="card-body">
					<form th:action="@{/user/enregistrerCom/{id}(id=${site.id})}" method="post">
						<div> <input
								class="form-control-xs" type="hidden" name="id"
								th:value="${commentaire.id}"> <span
								class="red" th:errors="${commentaire.id}"></span>
						</div>
						<div> <input
								class="form-control-xs" type="hidden" name="auteur"
								th:value="${commentaire.auteur.id}"><span
								class="red" th:errors="${commentaire.auteur.id}"></span>
						</div>
						<div class="form-group">
							<label class="col-form-label">Auteur de la modification : </label> <input
								class="form-control-xs" type="hidden" name="utilisateurModif"
								th:value="${utilisateur.id}"> [[${#httpServletRequest.remoteUser}]] <span
								class="red" th:errors="${utilisateur.id}"></span>
						</div>
						<div class="form-group">
							<label th:if="${commentaire.date == null}"
								class="col-form-label">Date de création : </label> <input
								class="form-control-xs" type="hidden" name="date"
								th:value="${commentaire.date}">
							<span class="red" th:errors="${commentaire.date}"></span>
						</div>
						<div class="form-group">
							<label class="col-form-label">Date : </label> <input
								class="form-control-xs" type="hidden" name="dateModif"
								th:value="${#temporals.format(localDate, 'yyyy-MM-dd HH:mm:ss')}"> [[${#temporals.format(localDate, 'yyyy-MM-dd HH:mm:ss')}]]
							<span class="red" th:errors="${commentaire.dateModif}"></span>
						</div>
						<div class="form-group">
							<label class="col-form-label">Site : </label> <input
								class="form-control-xs" type="hidden" name="site"
								th:value="${commentaire.site}">[[${site.nom}]] <span
								class="red" th:errors="${commentaire.site}"></span>
						</div>
						<div class="form-group">
							<label class="col-form-label">Commentaire : </label> <input
								class="form-control-xs" type="text" name="comment"
								th:value="${commentaire.comment}"> <span class="red"
								th:errors="${commentaire.comment}"></span>
						</div>
						<div>
							<button type="submit" class="btn btn-info rond-lege">Enregistrer</button>
							<a class="btn btn-danger btn-titre rond-lege"
								th:href="@{/siteDetail/{id}(id=${commentaire.site})}">Annuler</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>