<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="layout">
<head>
<meta charset="UTF-8">
<title>Modifier voie</title>
	<link rel="stylesheet" type="text/css"  href="css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
	<div layout:fragment="content">
	<div class="col-8 spacer">
		<div class="card">
			<div class="card-header">Modification d'une voie</div>
			<div class="card-body">
				<form th:action="@{/user/enregistrerVoie/{site}/{secteur}(site=${site.id}, secteur=${secteur.id})}" method="post">
				<div >
						<input class="form-control-xs" type="hidden" name="id" th:value="${voie.id}">
						<span class="red" th:errors="${voie.id}"></span>
					</div>
				<div>
						<input class="form-control-xs" type="hidden" name="utilisateurCreateur" th:value="${voie.utilisateurCreateur}">
						<span class="red" th:errors="${voie.utilisateurCreateur}"></span>
					</div>
				<div class="form-group">
						<label class="col-form-label">Auteur : </label>
						<input class="form-control-xs" type="hidden" name="utilisateurModif" th:value="${utilisateur.id}">[[${#httpServletRequest.remoteUser}]]
						<span class="red" th:errors="${utilisateur.id}"></span>
					</div>
				<div> <input class="form-control-xs" type="hidden" name="dateCreation" th:value="${voie.dateCreation}">
						<span class="red" th:errors="${voie.dateCreation}"></span>
					</div>
				<div class="form-group">
						<label class="col-form-label">Date : </label>
						<input class="form-control-xs" type="hidden" name="dateModif" th:value="${#temporals.format(localDate, 'yyyy-MM-dd HH:mm:ss')}">
						[[${#temporals.format(localDate, 'yyyy-MM-dd HH:mm:ss')}]]<span class="red" th:errors="${voie.dateModif}"></span>
					</div>
				<div class="form-group">
						<label class="col-form-label">Nom du secteur : </label>
						<input class="form-control-xs" type="hidden" name="secteurId" th:value="${voie.secteurId}">[[${secteur.nom}]]
						<span class="red" th:errors="${voie.secteurId}"></span>
					</div>
				<div class="form-group">
						<label class="col-form-label">Numéro de voie : </label>
						<input class="form-control-xs" type="text" name="numeroVoie" th:value="${voie.numeroVoie}">
						<span class="red" th:errors="${voie.numeroVoie}"></span>
					</div>
					<div class="form-group">
						<label class="col-form-label">Nombre de longueur : </label>
						<input class="form-control-xs" type="text" name="nombreLongueur" th:value="${voie.nombreLongueur}">
						<span class="red" th:errors="${voie.nombreLongueur}"></span>
					</div>
					<div class="form-group">
						<label class="col-form-label">Cotation : </label>
						<input class="form-control-xs" type="text" name="cotation" th:value="${voie.cotation}">
						<span class="red" th:errors="${voie.cotation}"></span>
					</div>
					<br>
					<div>
						<button type="submit" class="btn btn-info rond-lege">Enregistrer</button>
						<a class="btn btn-danger btn-titre rond-lege"
							th:href="@{/voie/{site}/{id}(site=${site.id}, id=${voie.secteurId})}">Annuler</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	</div>
</body>
</html>