<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="UTF-8">
<title>Sites</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container-fluid" th:each="s:${site}">
			<br> <a class="btn btn-info rond-lege" th:href="@{/site}">Retourner
				sur la liste des sites</a> <br> <br>
			<h3 th:each="s:${site}">Détail du site</h3>
			<br>
			<table class="centre">
				<tr th:each="s:${site}">
					<!-- <td><a class="btn btn-primary btn-titre"
						th:href="@{/commentaire/{id}(id=${s.nom})}"> Commentaires</a></td> -->
				</tr>
			</table>
			<br>
			<table class="table">
				<thead>
					<tr class="text-primary">
						<th><a title="Voir son topo"
							th:href="@{/accueil/{id}(id=${s.nom})}">Nom </a></th>
						<th>Pays</th>
						<th>Région</th>
						<th>Ville</th>
						<th>Nombre de secteur</th>
						<th>Tag</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="s:${site}">
						<td th:text="${s.nom}"></td>
						<td th:text="${s.pays}"></td>
						<td th:text="${s.region}"></td>
						<td th:text="${s.ville}"></td>
						<td th:text="${#lists.size(secteur)}"></td>
						<td th:text="${s.tag == null}? 'Non officiel' : ${s.tag}"
							th:class="${s.tag} == 'Officiel Les amis de l’escalade'? 'text-success' : 'text-danger'"></td>
						<td><a th:class="${s.tag} == 'Non officiel'? 'btn btn-info rond-lege' : 'btn btn-danger rond-lege disabled'"
							th:href="@{/admin/tag/{id}(id=${s.nom})}"
							th:if="${utilisateur.statut == 'ADMIN'}"><i
							class="far fa-question-circle"></i>Taguer</a></td>
						<td><a title="Voir ses secteurs"
							class="btn btn-info rond-lege"
							th:href="@{/secteur/{id}(id=${s.nom})}">Voir secteurs</a></td>
						<td><a class="btn btn-info btn-titre rond-lege"
							th:if="${#httpServletRequest.remoteUser} != null"
							th:href="@{/user/modifierSite(id=${s.nom})}">Modifier</a></td>
						<!-- Rajouter dans la table site "auteur" pour pouvoir faire disparaître le bouton -->
						<td><a class="btn btn-danger btn-titre rond-lege"
							th:if="${#httpServletRequest.remoteUser} == ${s.utilisateurCreateur} or ${utilisateur.statut} == 'ADMIN' "
							th:unless="${#httpServletRequest.remoteUser} == null "
							onclick="return confirm('Êtes-vous sûr de vouloir supprimer ?')"
							th:href="@{/user/supprimerSite(id=${s.nom}, page=${pageCourante}, size=${size}, motCle=${motCle})}">Supprimer</a></td>
					</tr>
				</tbody>
			</table>
			<a class="btn btn-info btn-titre rond-lege"
				th:if="${#httpServletRequest.remoteUser != null}"
				th:href="@{/user/ajoutTopo/{id}(id=${s.nom})}">Ajouter un topo</a> <a
				class="btn btn-info btn-titre rond-lege"
				th:if="${#httpServletRequest.remoteUser == null}"
				th:href="@{/login}">Ajouter un topo</a> <a
				class="btn btn-info btn-titre rond-lege"
				th:href="@{/user/ajoutSecteur/{id}(id=${s.nom})}">Ajouter un
				secteur</a> <br> <br>
			<div>
				<h3>Liste des commentaires</h3>
				<br> <br>
				<table class="table">
					<thead>
						<tr class="text-primary">
							<th>Commentaire</th>
							<th>Auteur</th>
							<th>Date</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="c:${liste}">
							<td th:text="${c.comment}"></td>
							<td th:text="${c.auteur}"></td>
							<td th:text="${c.date}"></td>
							<td><a class="btn btn-info rond-lege"
								th:if="${#httpServletRequest.remoteUser} == ${c.auteur}"
								th:href="@{/admin/modifierCom(id=${c.id})}">Modifier</a></td>
							<!-- Enlever 'admin' de l'url supprimerCom -->
							<td><a class="btn btn-danger rond-lege"
								th:if="${utilisateur.statut == 'ADMIN'} or (${#httpServletRequest.remoteUser} == ${c.auteur}) "
								onclick="return confirm('Êtes-vous sûr de vouloir supprimer ?')"
								th:href="@{/admin/supprimerCom(id=${c.id})}">Supprimer</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<a th:if="${#httpServletRequest.remoteUser} == null"
				th:href="@{/login}"> Pour ajouter un commentaire identifiez-vous</a>
			<a class="btn btn-info btn-titre rond-lege"
				th:if="${#httpServletRequest.remoteUser} != null"
				th:href="@{/user/ajoutCom/{id}(id=${commentaire.site})}">Ajouter
				un commentaire</a>

			<!-- <div class="card-header" th:if="${#httpServletRequest.remoteUser != null}? true"><i
								class="far fa-question-circle"></i>
								Saisir un commentaire</div>
			<div class="card-header" th:unless="${#httpServletRequest.remoteUser != null}? true"><i
								class="far fa-question-circle"></i>
								Veuillez vous connecter ou vous inscrire pour saisir un commentaire</div>
			<div class="card-body">
				<form th:action="@{/user/enregistrerCom}" method="post" >
					<div class="form-group">
							<label class="col-form-label"> Site : </label> <select
								class="form-control" name="site" th:value="${commentaire.site}">
								<option>[[${commentaire.site}]]</option>
							</select>
								<span class="red" th:errors="${commentaire.site}" th:inline="text"></span>
						</div>
					<div class="form-group">
						<label class="col-form-label">Date : </label> <br>
						[[${#temporals.format(localDate, 'yyyy-MM-dd HH:mm:ss')}]] <span
							class="red" th:errors="${commentaire.date}"></span>
					</div>
					<div class="form-group">
						<label class="col-form-label">Auteur : </label> <br>
						[[${#httpServletRequest.remoteUser}]] <span class="red"
							th:errors="${commentaire.auteur}">[[${#httpServletRequest.remoteUser}]]</span>
					</div>
					<div class="form-group">
						<label class="col-form-label">Commentaire : </label> <br>
						<textarea class="decaler" rows="5" cols="25"
							th:field="${commentaire.comment}" placeholder="Votre Commentaire"></textarea>
						<input class="form-control-xs p-3" type="text" name="comment" placeholder="Votre Commentaire"
								th:value="${commentaire.comment}">
						<span class="red" th:errors="${commentaire.comment}"
							th:inline="text"></span>
					</div>
					<div>
						<button type="submit" class="btn btn-primary">Enregistrer</button>
					</div>
				</form>
			</div>
		</div>
		(page=${status.index}, size=${size}, motCle=${motCle}) -->
			<br> <br> <br>
			<div class="container">
				<ul class="nav nav-pills">
					<li class="nav-item"
						th:class="${pageCourante}==${status.index}?'nav-link active':'nav-link'"
						th:each="pa,status:${pages}"><a class="nav-link active"
						th:href="@{/siteDetail/{id}(page=${status.index}, size=${size},id=${commentaire.site})}"
						th:text="${status.index}"></a></li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>