<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="UTF-8">
<title>Sites</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<br> <a class="btn btn-info rond-lege"
				th:href="@{/accueil(page=${pageCourante}, size=${size})}">Retour</a>
			<br> <br>
			<h3>Détail du site [[${s.nom}]]</h3>
			<br>
			<table class="centre">
				<tr th:each="s:${site}">
				</tr>
			</table>
			<br>
			<table class="table">
				<thead>
					<tr class="text-primary">
						<th>Pays</th>
						<th>Région</th>
						<th>Ville</th>
						<th>Nombre de secteur</th>
						<th>Tag</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td th:text="${s.pays}"></td>
						<td th:text="${s.region}"></td>
						<td th:text="${s.ville}"></td>
						<td th:text="${#lists.size(secteur)}"></td>
						<td
							th:text="${s.tag} == false? 'Non officiel' : 'Officiel Les amis de l’escalade'"
							th:class="${s.tag} == true? 'text-success' : 'text-danger'"></td>
						<td><a
							th:class="${s.tag} == false? 'btn btn-info rond-lege' : 'btn btn-danger rond-lege disabled'"
							th:href="@{/membre/tag/{id}(id=${s.id})}"
							th:if="(${utilisateur.statut == 'MEMBRE'} or ${utilisateur.statut == 'ADMIN'}) and ${s.tag} == false">Taguer</a><a
							th:class="${s.tag} == true? 'btn btn-info rond-lege' : 'btn btn-danger rond-lege disabled'"
							th:href="@{/membre/enleverTag/{id}(id=${s.id})}"
							th:if="(${utilisateur.statut == 'MEMBRE'} or ${utilisateur.statut == 'ADMIN'}) and ${s.tag} == true">Enlever
								le tag</a></td>
						<td><a title="Voir ses secteurs"
							class="btn btn-info rond-lege"
							th:href="@{/secteur/{id}(id=${s.id})}">Voir secteurs</a></td>
						<td><a class="btn btn-info btn-titre rond-lege"
							th:if="${#httpServletRequest.remoteUser} != null"
							th:href="@{/user/modifierSite(id=${s.id})}">Modifier</a></td>
						<td><a class="btn btn-danger btn-titre rond-lege"
							th:if="${utilisateur.id} == ${s.utilisateurCreateur} or ${utilisateur.statut} == 'ADMIN' or ${utilisateur.statut} == 'MEMBRE' "
							th:unless="${#httpServletRequest.remoteUser} == null"
							onclick="return confirm('Êtes-vous sûr de vouloir supprimer ?')"
							th:href="@{/user/supprimerSite(id=${s.id})}">Supprimer</a></td>
					</tr>
					<tr>
						<th>Liste des topos associés à ce spot</th>
					</tr>
					<tr th:each="t:${topo}">
						<td><a th:href="@{/topoSite/{id}(id=${t.id})}"
							th:if="${t.nom} != null" th:text="${t.nom}"></a></td>
					</tr>
				</tbody>
			</table>
			<a class="btn btn-info btn-titre rond-lege"
				th:if="${#httpServletRequest.remoteUser != null}"
				th:href="@{/user/ajoutTopo/{id}(id=${s.id})}">Ajouter un topo</a> <a
				class="btn btn-info btn-titre rond-lege"
				th:if="${#httpServletRequest.remoteUser == null}"
				th:href="@{/login}">Ajouter un topo</a> <a
				class="btn btn-info btn-titre rond-lege"
				th:if="${#httpServletRequest.remoteUser != null}"
				th:href="@{/user/ajoutSecteur/{id}(id=${s.id})}">Ajouter un
				secteur</a> <a class=" btn btn-info btn-titre rond-lege"
				th:if="${#httpServletRequest.remoteUser == null}"
				th:href="@{/login}">Ajouter un secteur</a> <br> <br>
			<div>
				<h3>Liste des commentaires</h3>
				<br> <br>
				<table class="table">
					<thead>
						<tr class="text-primary">
							<th>Commentaire</th>
							<th>Auteur</th>
							<th>Date</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="c:${liste}">
							<td th:text="${c.comment}"></td>
							<td th:text="${c.auteur.pseudo}"></td>
							<td th:text="${c.date}"></td>
							<td><a class="btn btn-info rond-lege"
								th:if="${utilisateur.pseudo} == ${c.auteur.pseudo} or ${utilisateur.statut} == 'MEMBRE' or ${utilisateur.statut} == 'ADMIN'"
								th:href="@{/user/modifierCom/{site}(site=${c.site}, id=${c.id})}">Modifier</a></td>
							<td><a class="btn btn-danger rond-lege"
								th:if="${utilisateur.statut == 'ADMIN'} or (${utilisateur.pseudo} == ${c.auteur.pseudo}) "
								th:unless="${#httpServletRequest.remoteUser} == null "
								onclick="return confirm('Êtes-vous sûr de vouloir supprimer ?')"
								th:href="@{/user/supprimerCom/{site}(id=${c.id}, site=${c.site})}">Supprimer</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<a class="btn btn-info rond-lege"
				th:if="${#httpServletRequest.remoteUser} == null"
				th:href="@{/login}"> Ajouter un commentaire</a> <a
				class="btn btn-info btn-titre rond-lege"
				th:if="${#httpServletRequest.remoteUser} != null"
				th:href="@{/user/ajoutCom/{id}(id=${commentaire.site})}">Ajouter
				un commentaire</a> <br> <br> <br>
			<div class="container">
				<ul class="nav nav-pills">
					<li class="nav-item"
						th:class="${pageCourante}==${status.index}?'nav-link active':'nav-link'"
						th:each="pa,status:${pages}"><a class="nav-link active"
						th:href="@{/siteDetail/{id}(page=${status.index}, size=${size},id=${commentaire.site})}"
						th:text="${status.index}"></a></li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>