<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="UTF-8">
<title>Sites</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<br>
			<h3>
				Liste des sites <a class="btn btn-info btn-titre rond-lege"
					th:href="@{/user/ajoutSite}">Ajouter un site</a>
			</h3>
			<br>
			<table class="table">
				<thead>
					<tr class="text-primary">
						<th>Nom</th>
						<th>Pays</th>
						<th>Région</th>
						<th>Nombre de secteur</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="s:${listeSites}">
						<td th:text="${s.nom}"></td>
						<td th:text="${s.pays}"></td>
						<td th:text="${s.region}"></td>
						<td th:text="${s.nombreSecteur}"></td>
						<td><a class="btn btn-primary rond-lege"
							th:href="@{/siteDetail/{id}/{site}(id=${s.nom}, site=${s.id})}">Consulter le
								détail</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="container">
			<ul class="nav nav-pills">
				<li class="nav-item"
					th:class="${pageCourante}==${status.index}?'nav-link active':'nav-link'"
					th:each="pa,status:${pages}"><a class="nav-link active"
					th:href="@{/site(page=${status.index}, size=${size}, motCle=${motCle})}"
					th:text="${status.index}"></a></li>
			</ul>
		</div>
	</div>
</body>
</html>