<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="UTF-8">
<title>Sites</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<br> <br> <label>Mot Clé :</label>
			<form class="form-inline" th:action="@{/site}" method="get">
				<label>Nom :</label> <select class="form-control" name="motCle"
					th:value="${motCle}">
					<option></option>
					<option th:each="s:${listeSites}">[[${s.nom}]]</option>
				</select> 
				<label class="btn-titre">Pays :</label> <select
					class="form-control" name="pays" th:value="${pays}">
					<option></option>
					<option th:each="s:${listeSites}">[[${s.pays}]]</option>
				</select>
				<label class="btn-titre">Région :</label> <select class="form-control" name="region"
					th:value="${region}">
					<option></option>
					<option th:each="s:${listeSites}">[[${s.region}]]</option>
				</select> 
				<label class="btn-titre">Ville :</label> <select
					class="form-control" name="ville" th:value="${ville}">
					<option></option>
					<option th:each="s:${listeSites}">[[${s.ville}]]</option>
				</select>
				<button class="btn btn-success">Chercher</button>
			</form>
			<br>
			<h3>
				Liste des sites <a class="btn btn-success btn-titre"
					th:href="@{/user/ajoutSite}">Ajouter un site</a>
			</h3>
			<br>
			<table class="table">
				<thead>
					<tr class="text-primary">
						<th>Nom</th>
						<th>Pays</th>
						<th>Région</th>
						<th>Ville</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="s:${listeSites}">
						<td th:text="${s.nom}"></td>
						<td th:text="${s.pays}"></td>
						<td th:text="${s.region}"></td>
						<td th:text="${s.ville}"></td>
						<td><a class="btn btn-primary"
							th:href="@{/siteDetail/{id}(id=${s.nom})}">Consulter le
								détail</a></td>
						<td><a class="btn btn-primary"
							th:href="@{/commentaire/{id}(id=${s.nom})}">Commentaire</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="container">
			<ul class="nav nav-pills">
				<li class="nav-item"
					th:class="${pageCourante}==${status.index}?'nav-link active':'nav-link'"
					th:each="pa,status:${pages}"><a class="nav-link active"
					th:href="@{/site(page=${status.index}, size=${size}, motCle=${motCle})}"
					th:text="${status.index}"></a></li>
			</ul>
		</div>
	</div>
</body>
</html>