<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head></head>

<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<a class="btn btn-info btn-titre rond-lege"
				title="Retourner sur la liste de mes demandes"
				th:href="@{/user/listeMesDemandes}">Liste de
				mes demandes</a>
			<h3 sec:authorize="isAuthenticated()" class="my-3 p-3">Ma
				demande du topo [[${topo.nom}]]</h3>
			<br>

			<div class="container-fluid">
				<div class="row">
					<div class="table-responsive-md">
						<table class="table">
							<thead>
								<tr class="text-primary">
									<th scope="col">Topo</th>
									<th scope="col">Parution</th>
									<th scope="col">Région</th>
									<th scope="col">Propriétaire</th>
									<th scope="col">Réponse</th>
									<th scope="col">Contact</th>
								</tr>
							</thead>
							<tbody>
								<tr
									th:if=" (${utilisateur.id} != ${topo.proprietaire} and ${topo.demandeur} == ${utilisateur.id} )">
									<td th:text="${topo.nom}"></td>
									<td th:text="${topo.parution}"></td>
									<td th:text="${topo.lieu}"></td>
									<td th:text="${u.pseudo}"></td>
									<th:block th:switch="${topo.disponibilite}">
										<td th:case="Demande"
											th:utext="'Attente de la réponse du propriétaire'"></td>
										<td th:case="Indisponible" th:utext="'Acceptée'"></td>
										<td th:case="Disponible" th:utext="'Refusée'"></td>
									</th:block>
									<th:block th:switch="${topo.disponibilite}">
										<td th:case="Indisponible" th:utext="${u.email}"></td>
									</th:block>
							</tbody>
						</table>
						<div class="container">
							<ul class="nav nav-pills">
								<li class="nav-item"
									th:class="${pageCourante}==${status.index}?'nav-link btn-info':'nav-link'"
									th:each="pa,status:${pages}"><a class="nav-link btn-info"
									th:href="@{/user/listeMesDemandes(page=${status.index}, size=${size})}"
									th:text="${status.index}"></a></li>
							</ul>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</body>
</html>