<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Topos</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<br> <br>
			<h3>
				Liste des topos <a class="btn btn-info btn-titre rond-lege"
					th:href="@{/user/listeMesTopos}">Mes topos</a> <a
					class="btn btn-info btn-titre rond-lege"
					th:href="@{/user/listeMesDemandes}">Mes demandes</a> <a
					th:if="${utilisateur.statut} == 'ADMIN'"
					class="btn btn-info btn-titre rond-lege"
					th:href="@{/admin/reservation}">Historique des reservations</a>
			</h3>
			<br>
			<table class="table">
				<thead>
					<tr class="text-primary">
						<th>Nom</th>
						<th>Description</th>
						<th>Disponibilité</th>
						<th>Plus d'infos ou faire un emprunt</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="t:${listeTopos}">
						<td th:text="${t.nom}"></td>
						<td th:text="${t.description}"></td>
						<td th:text="${t.disponibilite}"
							th:class="${t.disponibilite} == 'Disponible'? 'text-success' : 'text-danger'"></td>
						<td><a class="btn btn-info rond-lege"
							th:href="@{/topoSite/{id}(id=${t.id})}"> Informations</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="container">
			<ul class="nav nav-pills">
				<li class="nav-item"
					th:class="${pageCourante}==${status.index}?'nav-link btn-info':'nav-link'"
					th:each="pa,status:${pages}"><a class="nav-link btn-info"
					th:href="@{/topos(page=${status.index}, size=${size}, motCle=${motCle})}"
					th:text="${status.index}"></a></li>
			</ul>
		</div>
	</div>
</body>
</html>