<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Topos</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<br> <br>
			<h3>
				Liste des topos <a class="btn btn-info btn-titre rond-lege"
					th:href="@{/user/listeMesTopos}">Mes topos</a> <a
					class="btn btn-info btn-titre rond-lege"
					th:href="@{/user/listeMesDemandes}">Mes demandes</a> <a
					th:if="${utilisateur.statut} == 'ADMIN'"
					class="btn btn-info btn-titre rond-lege"
					th:href="@{/admin/reservation}">Historique des reservations</a>
			</h3>
			<br>
			<table class="table">
				<thead>
					<tr class="text-primary">
						<th>Nom</th>
						<th>Description</th>
						<th>Lieu</th>
						<th>Parution</th>
						<th>Disponibilité</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="t:${listeTopos}">
						<td th:text="${t.nom}"></td>
						<td th:text="${t.description}"></td>
						<td th:text="${t.lieu}"></td>
						<td th:text="${t.parution}"></td>
						<td th:text="${t.disponibilite}" 
							th:class="${t.disponibilite} == 'Disponible'? 'text-success' : 'text-danger'"></td>
						<td><a
							th:class="${t.disponibilite} == 'Disponible'? 'btn btn-info rond-lege' : 'btn btn-danger rond-lege disabled'"
							th:href="@{/user/demandepret/{id}(id=${t.nom})}"
							th:title="${t.emprunteur == null}? 'Demander un emprunt' : 'Annuler un emprunt'"
							th:if="${t.emprunteur != t.proprietaire}? (${#httpServletRequest.remoteUser} != ${t.proprietaire} ) : true"><i
								class="far fa-question-circle"></i>Faire une demande</a><a
							th:class="${t.disponibilite} == 'Disponible'? 'btn btn-info rond-lege' : 'btn btn-danger rond-lege disabled'"
							th:href="@{/user/maDemande/{id}(id=${t.nom})}"
							th:title="${t.emprunteur == null}? 'Demander un emprunt' : 'Annuler un emprunt'"
							th:unless="${t.emprunteur} != ${t.proprietaire} ">Voir l'état de ma demande</a></td>
					</tr>

				</tbody>
			</table>
		</div>
		<div class="container">
			<ul class="nav nav-pills">
				<li class="nav-item"
					th:class="${pageCourante}==${status.index}?'nav-link btn-info':'nav-link'"
					th:each="pa,status:${pages}"><a class="nav-link btn-info"
					th:href="@{/topos(page=${status.index}, size=${size}, motCle=${motCle})}"
					th:text="${status.index}"></a></li>
			</ul>
		</div>
	</div>
</body>
</html>