<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="UTF-8">
<title>Sites</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<br>
			<h3>
				Liste des utilisateurs <a class="btn btn-info btn-titre rond-lege"
					th:href="@{/inscription}">Ajouter un utilisateur</a>
			</h3>
			<br>
			<table class="table">
				<thead>
					<tr class="text-primary">
						<th>Pseudo</th>
						<th>Email</th>
						<th>Statut</th>
						<th>Compte</th>
						<th>Date d'adhésion</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="u:${utilisateur}" th:if="${u.pseudo} != 'visiteur'">
						<td th:text="${u.pseudo}"></td>
						<td th:text="${u.email}"></td>
						<td th:text="${u.statut}"></td>
						<td th:text="${u.compteActif} == true? 'Actif' : 'Inactif'"></td>
						<td th:text="${u.dateCreation}"></td>
						<td><a th:if="${u.statut} == 'USER'"
							th:class="${u.statut} == 'USER'? 'btn btn-info rond-lege'"
							onclick="return confirm('Êtes-vous sûr de votre choix ?')"
							th:href="@{/rendreMembre/{id}(id=${u.id}, page=${pageCourante}, size=${size})}">Rendre membre</a>
							<a th:if="${u.statut} == 'MEMBRE'"
							th:class="${u.statut} == 'MEMBRE'? 'btn btn-info rond-lege'"
							onclick="return confirm('Êtes-vous sûr de votre choix ?')"
							th:href="@{/rendreUser/{id}(id=${u.id}, page=${pageCourante}, size=${size})}">&nbsp; Rendre user &nbsp;</a></td>
						<td><a class="btn btn-danger rond-lege"
							onclick="return confirm('Êtes-vous sûr de vouloir supprimer ?')"
							th:href="@{/supprimerSite(id=${u.id}, page=${pageCourante}, size=${size})}">Supprimer</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="container">
			<ul class="nav nav-pills">
				<li class="nav-item"
					th:class="${pageCourante}==${status.index}?'nav-link active':'nav-link'"
					th:each="pa,status:${pages}"><a class="nav-link active"
					th:href="@{/admin/utilisateurs(page=${status.index}, size=${size})}"
					th:text="${status.index}"></a></li>
			</ul>
		</div>
	</div>
</body>
</html>