<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="UTF-8">
<title>Voies</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<br> <br>
			<h3>Voies du secteur [[${id}]]</h3>
			<br>
			<table class="table">
				<thead>
					<tr class="text-primary">
						<th>Numéro de voie</th>
						<th>Nombre de longueur</th>
						<th>Nombre de point</th>
						<th>Cotation</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="v:${voie}">
						<td th:text="${v.id}"></td>
						<td th:text="${v.nombreLongueur}"></td>
						<td th:text="${v.nombrePoint}"></td>
						<td th:text="${v.cotation}"></td>
						<!-- <td><a class="btn btn-success"
							th:href="@{/user/ajoutLongueur/{id}(id=${v.id})}">Ajouter
								longueur</a></td> -->
						<td><a class="btn btn-primary"
							th:href="@{/user/modifierVoie(id=${v.id})}">Modifier</a></td>
						<td><a class="btn btn-danger"
							onclick="return confirm('Êtes-vous sûr de vouloir supprimer ?')"
							th:href="@{/admin/supprimerVoie(id=${v.id}, page=${pageCourante}, size=${size}, motCle=${motCle})}">Supprimer</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="container">
			<ul class="nav nav-pills">
				<li class="nav-item"
					th:class="${pageCourante}==${status.index}?'nav-link active':'nav-link'"
					th:each="pa,status:${pages}"><a class="nav-link active"
					th:href="@{/voie(page=${status.index}, size=${size}, motCle=${motCle})}"
					th:text="${status.index}"></a></li>
			</ul>
		</div>
	</div>
</body>
</html>